* {
  box-sizing: border-box;
}

/*Navbar*/
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #9ba88d;
  padding: 10px 20px;
  width: 100%;
  position: sticky;
  top: 0;
}

/*Navbar Links*/
.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nav-links li a {
  color: #1f3134;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: inherit;
  font-size: 0.95rem;
  padding: 6px 15px;
  border-radius: 20px;
  transition: all 0.3s ease;
  background-color: rgb(206, 206, 196);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 100%;
}
.nav-links li a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.nav-links li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #008899;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-links li a:hover::after {
  width: 80%;
}
.nav-links li a.active {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
}

/*Login, Signup, and Logout*/
.header_buttons {
  display: flex;
  gap: 20px;
}

/*Hamburger Menu*/
#hamburgerbutton {
  display: none;
  width: 40px;
  height: 50px;
  border-radius: 10px;
  background-color: #008899;
  color: white;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 2rem;
}
.hamburgerclosed {
  color: black;
  background-color: none;
  border: 2px solid var(--teal);
}

.logout_btn {
  background-color: var(--teal);
  color: white;
  border: 2px solid var(--teal);
  border-radius: 20px;
  padding: 8px 18px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.logout_btn:hover {
  background-color: transparent;
  color: black;
}

.login_btn {
  background-color: var(--teal);
  color: white;
  border: 2px solid var(--teal);
  border-radius: 20px;
  padding: 8px 18px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-decoration: none;
}

.signup_btn {
  background-color: transparent;
  color: black;
  border: 2px solid var(--teal);
  border-radius: 20px;
  padding: 8px 18px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-decoration: none;
}

.login_btn:hover {
  background-color: transparent;
  color: black;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
}

.signup_btn:hover {
  background-color: var(--teal);
  color: white;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1025px) {
  .navbar {
    display: grid;
    grid-template-areas:
      "logo buttons burger"
      "bot bot bot";
    padding: 5px 10px;
  }
  #hamburgerbutton {
    display: block;
    grid-area: burger;
    margin: 3% 0 3% 3%;
    justify-self: end;
  }

  #navlinks {
    display: none;
    grid-area: bot;
    width: 100%;
    max-width: 100%;
    margin: 1.5% auto;
    padding: 2%;
    background-color: #008799ea;
    border-radius: 20px;
    gap: 7px;
  }

  .nav-links li a {
    font-size: 0.7rem;
    width: 90%;
  }

  .header_buttons {
    grid-area: buttons;
    margin: 3%;
  }

  .logo {
    grid-area: logo;
    justify-self: start;
  }
}

@media (max-width: 768px) {
  .logo img {
    width: 150px;
    height: auto;
  }
  .nav-links li a {
    font-size: 0.6rem;
  }
}

@media (max-width: 480px) {
  .logo a {
    margin-bottom: 5%;
  }

  .nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 0px;
    margin-top: 3%;
  }
  .nav-links li a {
    width: 40vw;
    font-size: 0.8rem;
    padding: 5px;
    margin: 0;
  }
  .header_buttons {
    border: 0px solid black;
    padding: 1.5%;
    flex-direction: column;
    gap: 2px;
  }
  .login_btn {
    width: 17vw;
    font-size: 10px;
    padding: 4px;
  }
  .signup_btn {
    width: 17vw;
    font-size: 10px;
    padding: 4px;
  }
  .logout_btn {
    width: 17vw;
    font-size: 10px;
    padding: 4px;
  }
}
