.weather-container {
  background-color: #f3f4f6;
  border-radius: 8px;
  height: 25rem;
}

.weather-title {
  padding-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.city-select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.weather-info {
  text-align: center;
  margin-top: 1rem;
}

.weather-info h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

.weather-info p.description {
  font-style: italic;
}

.weather-info p.temperature {
  font-size: 1.125rem;
  font-weight: 600;
}

.weather-input-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.city-input {
  flex: 1;
  padding: 8px;
  font-size: 16px;
}

.submit-button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #0070f3;
  color: white;
  border: none;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0059c1;
}

.not-found {
  color: red;
  margin-top: 10px;
}
