h1,
h2,
h3 label {
  color: #555;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

section {
  display: flex;
  border: 3px solid var(--teal);
  border-radius: 20px;
  padding: 2rem;
  padding-top: 0.5rem;
  margin: 1rem;
}
/*Dashboard form*/
main {
  display: flex;
  width: 100%;
  background-color: rgb(255, 241, 223);
}
#userWidgets {
  width: 30%;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  background-color: white;
  height: 100%;
  max-height: 120vh;
}

#blogposts {
  width: 70%;
  padding: 0% 2% 0% 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0;
  background-color: white;
  border-radius: 25px;
  border: 3px solid var(--teal);
}
#blogposts h2 {
  font-size: 2rem;
}
article {
  width: 100%;
  margin: 1%;
  padding: 1% 4% 1% 4%;
  border: 3px solid var(--teal);
  border-radius: 25px;

  box-shadow: 0 0 2px black;
}
#title {
  line-height: 0.2;
  font-size: 1.5rem;
  color: #555;
}
#date {
  font-size: 1rem;
  color: #555;
}
article p {
  font-size: 1rem;
}
#postform {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 2px black;
}
#posttitle {
  width: 50%;
}
#postparagraph {
  height: 200px;
  margin-bottom: 2ch;
}
#postsubmit {
  width: 10ch;
  padding: 4px;
  margin: 0 4px;
  background-color: rgb(206, 206, 196);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: #333;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#postsubmit:hover {
  background-color: var(--teal);
  color: white;
}

h3 {
  line-height: 0;
}

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 2px black;
}

#profile h1 {
  font-size: 1.5rem;
}

@media (max-width: 420px) {
  header {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  section {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  main {
    margin-right: 100px;
    flex-direction: column;
    align-items: center;
  }
  #userWidgets {
    width: 95%;
  }
  #blogposts {
    width: 95%;
  }
}

@media (min-width: 1500px) {
  main {
    margin-right: 150px;
  }
}

@media (min-width: 2000px) {
  main {
    margin-right: 200px;
  }
}
