h1,
h2,
h3 label {
  color: #555;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

section {
  display: flex;
  border: 3px solid var(--teal);
  border-radius: 20px;
  padding: 2rem;
  padding-top: 0.5rem;
  margin: 1rem;
}
/*Dashboard form*/
main {
  display: flex;
  width: 100%;
}
#userWidgets {
  width: 30%;
  display: flex;
  flex-direction: column;
}

#blogposts {
  width: 70%;
  padding: 5%;
  display: flex;
  flex-direction: column;
}
#blogposts div {
  width: 100%;
  margin-bottom: 2%;
  padding: 2%;
  border: 3px solid var(--teal);
  border-radius: 25px;
}
#postform {
  display: flex;
  flex-direction: column;
}
#posttitle {
  width: 50%;
}
#postparagraph {
  height: 200px;
  margin-bottom: 2ch;
}
#postsubmit {
  width: 10ch;
}

h3 {
  line-height: 0;
}

#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile h1 {
  font-size: 1.5rem;
}

@media (max-width: 420px) {
  header {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  section {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1000px) {
  main {
    margin-right: 100px;
  }
}

@media (min-width: 1500px) {
  main {
    margin-right: 150px;
  }
}

@media (min-width: 2000px) {
  main {
    margin-right: 200px;
  }
}
