main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}

article {
  width: 100%;
  margin: 1%;
  padding: 1% 4% 1% 4%;
  border: 3px solid var(--teal);
  border-radius: 25px;

  box-shadow: 0 0 2px black;
}

article p {
  font-size: 1rem;
}
